body {
    background-color: white;
    background-image: linear-gradient(#ffffff, #5f5d5a);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 2em;
    padding: 1.5em;
}

.link {
    text-decoration: inherit;
}

.productDisplay {
    max-width: 30em;
    height: auto;
}

.footer {
    color: #fcf9f2;
}

fieldset {
    border: 1px solid #fcf9f2;
    border-radius: 10px;
    padding: 1em 0 2em 0;
}

.inputField, .submit {
    border: none;
    border-radius: 5px;
    padding: 1em;
    margin: .5em;
    background-color: #fcf9f2;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.272);

}

.legend {
    color: #fcf9f2;
}

.displayCard {
    margin-top: 1em;
    box-shadow: 10px 10px 12px 2px rgba(0, 0, 0, 0.272);
}

.btn {
    margin: .5em;
}

.gitLink {
    text-decoration: inherit;
    color: #fcf9f2;
    transition-duration: .4s;
    &:hover {
        background-color: white;
        color: black;
        border-radius: 50px;
        padding: .5em;
    }
}

.loginDiv {
    background-color: white;
    border: none;
    border-radius: 25px;
    padding: 1em;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-width: 30em;
    margin: auto;
}

.login {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.loginItem {
    margin: .5em;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    transition-duration: .4s;
}

.loginText {
    background-color: rgb(237, 237, 237);
    padding: 1em;
    &:hover {
        background-color: rgb(251, 251, 251);
    }
}

.loginBtn {
    padding: 1em;
    background-color: #4abf73;
    color: white;
}

.loginGoogle {
    background-color: #4285f4;
    img {
        max-width: 2em;
    }
}